#name {
	background-color: #4aaaa5;
	margin-left: 100px;
	padding-top:25px;
	padding-bottom: 25px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-size: 30px;
	color:white;
}

#aboutMe {
	color: #4aaaa5;
	font-size: 25px;
}

.para {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	color:#777777;
	font-size: 17px;
	margin: 0px 0px 15px 20px;
